page-dashboard {

  .toolbar-background {
    background-color: white;
  }

  #view-container {
    display: block;
    background-color: white;
  }

  #inner-container {
    padding-top: 25px;
    background-color: white;
  }

  #profile-img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }

  #profile-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #profile-card {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 3rem;
    text-align: center;
    color: #22B9E3;
  }

  #app-title {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 35px;
    text-align: center;
    color: #414042;
  }

  #app-title h1 {
    text-align: left;
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  #point-container {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
  }

  #points {
    vertical-align: middle;
    font-weight: 300px;
    text-align: center;
    font-size: 5rem;
  }

  #coins-icon{
    vertical-align: middle;
    height: 35px;
  }

  .icon-container {
    position: relative;
    width: 85px;
    height: 85px;
    margin: auto;
    font-size: 4rem;
    line-height: 8.5rem;
    overflow: hidden;
    text-align: center;

  }

  .icon-container .circular-chart-fill {
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: transparent;
  }

  .icon-container .circular-chart-line {
    position: absolute;
    left: 0;
    z-index: 0;
    background-color: transparent;
  }

  .circle-fill {
    fill: none;
    background-color: transparent;
    stroke-width: 2.8;
    stroke-linecap: round;
  }

  .circle-line {
    stroke: #E1E1E1;
    fill: none;
    stroke-width: 0.5;
    stroke-linecap: round;
  }

  .icon-desc {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
  }

  .school {
    border: solid black 2px;
    border-radius: 50%;
    padding: 30px;
    font-size: 40px;
  }

  .iconDes {
    margin-top: 10px;
    font-size: 18px;
  }

  .top-spacing {
    margin-top: 25px;
    padding: 0;
  }

  #boxes {
    padding-bottom: 50px;
  }

  .box {
    border: solid thin #E1E1E1;
    height: 175px;
  }

  .box-icon-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-align: center;
    padding-top: 15px;
  }

  .box-icon-container i {
    color: #22B9E3;
    font-size: 7rem;
  }

  .box-icon-desc {
    text-align: center;
  }

  .box-icon-desc span {
    font-family: 'Roboto', sans-serif;
    font-size: 1.85rem;
  }

  #plus-container {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 60px;
    height: 35px;
    width: 35px;
    background-color: #22B9E3;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 1.75rem;
    line-height: 3.5rem;
    z-index: 1000;
  }

}
